.container {
  width: 100%;
  padding: 40px 40px 20px;
}

.limiter {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
  gap: 20px;
}