@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, a, b, strong, i, em, mark, small, del, ins, sub, sup {
  word-break: break-word;
}

ol, ul {
  list-style: none;
}

input, textarea, button {
  outline: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
}